<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= info.title %> - Home</title>
    <%- include('head'); %>
</head>
<body>
<main>
    <h1><%= info.title %></h1>
    <%= info.description %>
    <h2>Articles in this blog :</h2>
    <% articles.forEach((article) => { %>
        <div class="article">
            <h3><%- `<a href="${article.url}">${article.title}</a>` %></h3>
            <span class="time"><span>Published on</span> <%= article.year + '-' + article.month + '-' + article.day %></span>
            <% if(article.thumbnail){ %>
                <%- `<img alt="thumbnail" src=${article.thumbnail}>` %>
            <% } %>
        </div>
    <% }); %>
    <%- include('footer'); %>
</main>
</body>
</html>