<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= info.title %> - Home</title>

    <meta name="twitter:card" content="summary_large_image">
    <%= `<meta property="og:title" content="${info.title} - ${article.title}">` %>
    <%= `<meta property="twitter:title" content="${info.title} - ${article.title}">` %>
    <%= `<meta property="og:description" content="${info.description}">` %>
    <%= `<meta property="twitter:description" content="${info.description}">` %>
    <%= `<meta property="org:url" content="${info.host}/">` %>

    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<main>
    <h1><%= info.title %></h1>
    <%= info.description %>
    <h2>Articles in this blog :</h2>
    <% articles.forEach((article) => { %>
        <div class="article">
            <h3><%- `<a href="${article.url}">${article.title}</a>` %></h3>
            <span class="time"><span>Published on</span> <%= article.year + '-' + article.month + '-' + article.day %></span>
            <% if(article.thumbnail){ %>
                <%- `<img alt="thumbnail" src=${article.thumbnail}>` %>
            <% } %>
        </div>
    <% }); %>
    <%- include('footer'); %>
</main>
</body>
</html>