<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= info.title %> - <%= article.title %></title>

    <meta name="twitter:card" content="summary_large_image">
    <%- `<meta property="og:title" content="${info.title} - ${article.title}">` %>
    <%- `<meta property="twitter:title" content="${info.title} - ${article.title}">` %>
    <%- `<meta property="og:description" content="${info.description}">` %>
    <%- `<meta property="twitter:description" content="${info.description}">` %>
    <%- `<meta property="org:url" content="${info.host + article.url}">` %>
    <% if (article.thumbnail) { %>
        <%- `<meta property="og:image" content="${info.host + article.thumbnail}">` %>
        <%- `<meta property="twitter:image" content="${info.host + article.thumbnail}">` %>
    <% } %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="/prism.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<main class="article">
    <div class="header">
        <a class="link-home" href="/">↑</a>
        <h1><%= article.title %></h1>
        <span class="time"><span>Published on</span> <%= article.year + '-' + article.month + '-' + article.day %></span>
    </div>
    <div id="text"><%- article.content %></div>
    <br>
    <a href="#top">Go to top</a> - <a href="/">Back to home</a>
    <%- include('footer'); %>
</main>
</body>
</html>
